//reset
*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Dosis';
}
ul{
    list-style: none;
}
a{
    text-decoration: none;
}

//variables
$green: #60B000;
$purple: #8A1668;
$light-bg: #454d55;
$dark-bg: #343a40;
$white: #fff;


.btn{
    padding: 10px 30px;
    border: none;
    cursor: pointer;
    transition: all 300ms ease;
    font-size: 1.2rem;
    font-weight: bold;
    margin-top: 1rem;
    margin-bottom: 3rem;
    background-color: $green;
    color: $white;
    &:hover {
        background-color: $purple;
    }
}